apiVersion: v1
kind: Service
metadata:
  name: {{ include "autoquoter-bot.fullname" . }}
  labels:
    {{- include "autoquoter-bot.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http-metrics
      protocol: TCP
      name: http-metrics
  selector:
    {{- include "autoquoter-bot.selectorLabels" . | nindent 4 }}
