name: Gradle Build and Test

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    if: github.actor != 'renovate' && github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '21'
          cache: gradle


      - name: Build + tests
        run: make build

      - name: Build fat jar
        run: make jar