name: PR Purge

on:
  pull_request:
    types: [closed]

jobs:
  purge:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Delete PR Image Tag
        run: |
          gh api \
            --method DELETE \
            -H "Accept: application/vnd.github+json" \
            /users/${{ github.repository_owner }}/packages/container/${{ github.event.repository.name }}/versions/$(gh api /orgs/${{ github.repository_owner }}/packages/container/${{ github.event.repository.name }}/versions --jq '.[] | select(.metadata.container.tags[] == "pr-${{ github.event.number }}") | .id')
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}